body{
	font-family: Arial, Helvetica, sans-serif; /* Fuente de la letra */
	font-size: 25px; /* Tamaño de la fuente */
}

table{
	text-align: center; /* Alínea al centro el contenido de la tabla */
}

.menu{
	margin: 0 25%;
}

.menu ul li{
	list-style: none;
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
}

.menu ul li a{
	background: #F4F4F4;
	border: 1px solid #000;
	border-right: 1px solid #000;
	color: #333;
	display: block;
	text-decoration: none;
}

.menu ul li a:hover{
	background: #333;
	color: #CCC;
}

.backImg{
	border: solid 3px #000; /* Borde de la celda */
	padding: 5px; /* Espacio entre la imagen y el borde */
}

/* Al situar el ratón encima de la celda cambia el color de fondo */
.backImg:hover{
	background-color: #CCC; /* Color de fondo */
}

/* Al situar el ratón encima de la celda cambia el color del enlace */
.backImg:hover a{
	color: #000; /* Color del texto */
}

.imagen{
	border: solid 2px #000; /* Borde de la iamgen */
	cursor: pointer; /* Hace que el cursor del ratón sea una mano */
}

.enlace{
	color: #00F; /* Color del texto */
	text-decoration: none; /* Quita el efecto subrayado del enelace */
}